@media (min-width: 48em) {
  header {
    margin-top: 5.1rem;
    margin-bottom: 6.6rem;
  }

  .intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .long-img-hero {
    margin-bottom: 7.2rem;
  }

  .intro-content-div {
    width: 60%;
  }

  .intro-content-div h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .intro-content-div p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .button-div {
    flex-direction: unset;
  }

  .gallery-section {
    padding: 8rem 0;
  }

  .gallery-div {
    grid-template-columns: repeat(4, 1fr);
    padding: 6.7rem 4rem 4.8rem 4rem;
    gap: 1.1rem;
    margin-top: unset;
    margin-bottom: unset;
  }

  .main-content {
    padding: 0 9.8rem;
  }

  .main-content h2 {
    margin-top: 1.6rem;
    font-size: 4rem;
    line-height: 4.4rem;
    padding: 0 6.5rem;
  }

  footer {
    background-image: url("../assets/tablet/image-footer.jpg");
    padding: 9.5rem 9.8rem 6.6rem 9.8rem;
  }

  .footer-content-div h2 {
    padding: 0 6rem;
    font-size: 4rem;
    line-height: 4.4rem;
  }

  .footer-content-div p {
    margin-top: 3.2rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 90em) {
  header {
    margin-top: 8.3rem;
    margin-bottom: 11.1rem;
  }
  .long-img-hero {
    display: none;
  }
  .img-hero-left,
  .img-hero-right {
    display: block;
  }

  .img-hero-left {
    transform: translateX(-3rem);
  }

  .img-hero-right {
    order: 2;
    transform: translateX(3rem);
  }

  .intro-content-div p,
  .main-content h5,
  .main-content P,
  .footer-content-div p {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .intro-div {
    flex-direction: unset;
  }

  .intro-content-div {
    padding: 0 8.8rem;
  }

  .intro-content-div h1 {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }

  .gallery-section {
    padding-top: 11.7rem;
    padding-bottom: 7.2rem;
  }

  .gallery-div {
    padding: 6.4rem 16.5rem 8rem 16.5rem;
  }

  .main-content {
    padding: 0 43rem;
  }

  footer {
    background-image: url("../assets/desktop/image-footer.jpg");
    padding: 11.6rem 16.5rem 10.4rem 16.5rem;
  }

  .footer-content-div {
    flex-direction: unset;
    justify-content: space-between;
  }

  .footer-content-div h2 {
    padding: unset;
    text-align: unset;
    width: min-content;
  }
  .footer-content-div p {
    margin: unset;
    width: 32%;
    text-align: unset;
  }
}
