@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
html {
  font-size: 62.5%;
}

header {
  text-align: center;
  margin-top: 5.1rem;
  margin-bottom: 5.6rem;
}

.long-img-hero {
  width: 100%;
  transform: scaleX(1.1);
  margin-bottom: 4.8rem;
}

.img-hero-left,
.img-hero-right {
  display: none;
}

.intro-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
}

.intro-content-div p,
.main-content h5,
.main-content P,
.sircle p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.intro-content-div h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.4rem;
  text-align: center;
  color: #28283d;
}

.intro-content-div p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #87879d;
  margin-top: 2.4rem;
  margin-bottom: 3.4rem;
}

.button-div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

button {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;

  /* identical to box height, or 162% */
  border-radius: 2.9rem;
  border: none;
  color: #ffffff;
  transition: all 0.3s ease;
}

.download {
  padding: 1.6rem 4rem;
  background: #4d96a9;
}

.download:hover {
  background-color: #71c0d4;
  transition: all 0.3s ease;
}

.download span {
  color: #8fe3f9;
}

.whats {
  padding: 1.6rem 2.9rem;
  background: #855fb1;
}

.whats:hover,
.main-purple-btn:hover {
  background-color: #b18bdd;
  transition: all 0.3s ease;
}
.gallery-section {
  padding: 6.4rem 2.4rem;
}

.sircle-div,
.sec-sircle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  opacity: 0.25;
  height: 8.4rem;
  width: 0.1rem;
  border: 0.1rem solid #87879d;
}

.sircle {
  background: #fafafa;
  border: 1px solid rgba(135, 135, 157, 0.25);
  padding: 1.5rem 1.9rem;
  border-radius: 50%;
}

.sircle p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;

  color: #87879d;
}

.line {
  height: 8.4rem;
}

.gallery-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-top: 6.7rem;
  margin-bottom: 3.9rem;
}

.gallery-div img {
  width: 100%;
  border-radius: 0.8rem;
}

.main-content h5 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;

  text-align: center;

  letter-spacing: 4px;
  text-transform: uppercase;

  color: #4d96a9;
}

.main-content h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
  color: #28283d;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.main-content p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;

  /* or 162% */

  text-align: center;

  color: #87879d;
}

.sec-sircle-div .sircle {
  z-index: 9999;
}
.sec-sircle-div {
  margin-bottom: -3rem;
}

footer {
  background-image: url("../assets/mobile/image-footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9.2rem 2.4rem 7.2rem 2.4rem;
  position: relative;
}

.bg-div {
  background-color: #4d96a9;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content-div h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.6rem;
  /* or 112% */

  text-align: center;

  color: #fafafa;
  z-index: 999;
}

.footer-content-div p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;

  text-align: center;

  color: #fafafa;
  z-index: 999;
}

.footer-content-div button span {
  color: #d9b8ff;
}
.footer-content-div button {
  background-color: #855fb1;
  padding: 1.6rem 4rem;
  z-index: 999;
}
